body{
	background: linear-gradient(45deg, rgb(73, 22, 4), black);
	color: white;
	font-family: cursive;
	border-left: 2px solid white;
	height: 800px;
	margin-left: 200px;
}
h1{
	text-decoration: overline;
	text-align: center;
}
#guide{
	position: absolute;
	top: 20%;
	left: 40%;
	height: fit-content;
	width: 400px;
}
#rest{
	position: absolute;
	top: 60%;
	left: 40%;
	border-radius: 10px;
}
#put{
	position: absolute;
	top: 50%;
	left: 40%;
	border-radius: 10px;
}
